.container-brand{
    width: 100%;
    background-color: steelblue;
    color: #707070;
    font-family: 'SP Pro Regular';
    text-align: center;
}
.container-carousel {
    height: 160px;
    color: #707070;
    background-color: #e5e5e5;
}
.carousel-title {
    line-height: 34px;
}
.container-your-brand {
    height: 600px;
    background-color: #380a54;
    display: flex;
    justify-content: space-around;
}
.your-brand {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
} 
.your-brand span:nth-child(1){
    font-size: 36px;
    font-family: 'Ample Soft Pro';
    color: #fff;
    width: 305px;
    text-align: left;
}
.your-brand span:nth-child(2){
    font-family: 'SP Pro Regular';
    font-size: 20px;
    text-align: justify;
    line-height: 2;
    color: #FFFFFF;
    margin-top: 60px;
    width: 310px;
    text-align: justify;
}
.container-pencil img {
    width: 255px;
    margin-top: 52px;
}
.container-pencil {
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: center;
}
.container-pencil a {
    height: 40px;
    line-height: 40px;
    width: 160px;
    font-size: 16px;
    background-color: #00ac92;
    color: #fff;
    border-radius: 45px;
    border: 0;
    cursor: pointer;
    transition: .2s;
    margin-top: 32px;
}
.container-pencil a:hover {
    filter: brightness(0.9);
}



